<table
  class="spot-data-table spot-data-table--clickable spot-data-table--sortable"
>
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients$ | async">
      <td></td>
      <td>{{ client.firstName }}</td>
      <td>{{ client.lastName }}</td>
      <td>{{ client.active }}</td>
    </tr>
  </tbody>
</table>
