<p-table
  #clientTable
  [columns]="cols"
  [value]="clients$ | async"
  [(selection)]="selectedClients"
  dataKey="id"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  styleClass="p-datatable-customers p-datatable-gridlines"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [globalFilterFields]="['active']"
>
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <span class="p-input-icon-left p-ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          [value]="searchValue"
          (input)="clientTable.filterGlobal(searchValue, 'contains')"
          placeholder="Search keyword"
        />
      </span>
    </div>
    <div class="p-d-flex">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-file-o"
        (click)="clientTable.exportCSV()"
        class="p-mr-2"
        pTooltip="CSV"
        tooltipPosition="bottom"
      ></button>
      <!--      <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>-->
      <!--      <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>-->
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-filter"
        (click)="clientTable.exportCSV({ selectionOnly: true })"
        class="p-button-info p-ml-auto"
        pTooltip="Selection Only"
        tooltipPosition="bottom"
      ></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>#</th>
      <th pSortableColumn="firstName">
        <div class="p-d-flex p-jc-between p-ai-center">
          First Name
          <p-columnFilter
            type="text"
            field="firstName"
            display="menu"
          ></p-columnFilter>
          <p-sortIcon field="firstName"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="lastName">
        <div class="p-d-flex p-jc-between p-ai-center">
          Last Name
          <p-columnFilter
            type="text"
            field="lastName"
            display="menu"
          ></p-columnFilter>
          <p-sortIcon field="lastName"></p-sortIcon>
        </div>
      </th>
      <th pSortableColumn="active">
        <div class="p-d-flex p-jc-between p-ai-center">
          Active
          <p-columnFilter
            type="boolean"
            field="active"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-client let-i="rowIndex">
    <tr [pSelectableRow]="client" [pSelectableRowIndex]="i">
      <td>
        <p-tableCheckbox [value]="client"></p-tableCheckbox>
      </td>
      <td>{{ i + 1 }}</td>
      <td>{{ client.firstName }}</td>
      <td>{{ client.lastName }}</td>
      <td>{{ client.active }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">
        <div class="p-d-flex p-jc-between p-ai-center">
          No Clients to display.
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
