@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';

:host {
  display: block;
  width: 100%;
  height: 100%;
}
