<div>
  <ngx-datatable
    style="width: 90%"
    [rows]="clients$ | async"
    [selected]="selectedClients"
    [selectionType]="SelectionType.checkbox"
    (activate)="onActivate($event)"
    (select)="onSelect($event)"
    [headerHeight]="50"
    [footerHeight]="50"
    [sortType]="SortType.multi"
  >
    <ngx-datatable-column
      [width]="30"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
      [headerCheckboxable]="true"
      [checkboxable]="true"
    >
    </ngx-datatable-column>
    <ngx-datatable-column
      prop="firstName"
      name="First Name"
    ></ngx-datatable-column>
    <ngx-datatable-column
      prop="lastName"
      name="Last Name"
    ></ngx-datatable-column>
    <ngx-datatable-column prop="active" name="Active"></ngx-datatable-column>
  </ngx-datatable>
</div>
